body {
    text-align: center;
    font-family: "Arial";
    background-image: url('fondo.jpg');
}

h1 {
    font-size: 40px;
    color: rgb(14, 151, 151);
}

p {
    font-size: 28px;
    color: rgb(255, 255, 255);
}

p1 {
    font-size: 20px;
    color: rgb(205, 255, 238);
}

img {
    transition: transform 0.4s ease;
}

img:hover {
    transform: scale(1.15);
}

img.imagen-grande {
    transition: transform 0.2s ease;
}

img.imagen-grande:hover {
    transform: scale(1.02);
}